<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NMLocker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D2139BC41E370AC00062F2CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2139BD81E370AC00062F2CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2139BE31E370AC00062F2CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
